= form_for @schedule do |f|
  - if @schedule.errors.any?
    #error_explanation
      %h2= "#{pluralize(@schedule.errors.count, "error")} prohibited this schedule from being saved:"
      %ul
        - @schedule.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :content
    = f.text_field :content
  .field
    = f.label :plan_type
    = f.number_field :plan_type
  .field
    = f.label :termination_time
    = f.datetime_select :termination_time, {use_month_numbers: true}, {class: "browser-default inline-date"}

  .actions
    = f.submit 'Save'
