= form_for @schedule do |f|
  - if @schedule.errors.any?
    #error_explanation
      %h2= "#{@schedule.errors.count}件のエラー："
      %ul
        - @schedule.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :content, '概要'
    = f.text_field :content

  .field
    = f.hidden_field :action_type, :value => @action_type


  .field
    = f.label :termination_time, '終了時間'
    %br
    #time-setting-component

  %br
  .actions
    = f.submit '保存', class: 'submit-btn'
