= render :partial => 'register_buttons'
%h2 あなたの進行中のスケジュール

- if @schedules.exists?

  %table.responsive-table
    %thead
      %tr
        %th 行動
        %th 概要
        %th 期間
        %th

    %tbody
      - @schedules.each do |schedule|
        %tr
          %td= type_to_button(schedule)
          %td= schedule.content.present? ? schedule.content : "特に無し"
          %td= "#{format_time(schedule.start_time)} ～ #{format_time(schedule.termination_time)}"
          %td= link_to '削除', schedule, method: :delete, data: { confirm: '削除しますか?' }

  %br

  %div{:id => "timeline", :style => "height: #{@schedules.length * 30 + 120}px;"}

- else
  %p 表示できるものがありません。


