%h2 #{current_user.group.name}の今日のスケジュール

- if @schedules.exists?
  %table.responsive-table
    %thead
      %tr
        %th 行動
        %th 名前
        %th 概要
        %th 期間

    %tbody
      - @schedules.each do |schedule|
        %tr
          %td= type_to_button(schedule)
          %td= User.find(schedule.user_id).username
          %td= schedule.content.present? ? schedule.content : "特に無し"
          %td= "#{format_time(schedule.start_time)} ～ #{format_time(schedule.termination_time)}"

  %br

  %script
  :javascript
    gon.arr_for_chart.forEach(function(arr){
        arr[2] = new Date(arr[2]);
        arr[3] = new Date(arr[3]);
    });
    google.charts.load("current", {packages:["timeline"], 'language': 'ja'});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var container = document.getElementById('timeline-group');
      var chart = new google.visualization.Timeline(container);
      var dataTable = new google.visualization.DataTable();
      dataTable.addColumn({ type: 'string', id: 'Position' });
      dataTable.addColumn({ type: 'string', id: 'Name' });
      dataTable.addColumn({ type: 'date', id: 'Start' });
      dataTable.addColumn({ type: 'date', id: 'End' });
      dataTable.addRows(gon.arr_for_chart);
      var options = {
        timeline: { singleColor: '#808080' },
      };
      chart.draw(dataTable, options);
    }

  %div{:id => "timeline-group", :style => "height: #{@schedules.length * 30 + 120}px;"}

- else
  %p 今日のスケジュールはありません。