%h2 #{current_user.group.name}の今日のスケジュール

- if @schedules.exists?
  %table.responsive-table
    %thead
      %tr
        %th 行動
        %th 名前
        %th 概要
        %th 期間

    %tbody
      - @schedules.each do |schedule|
        %tr
          %td= type_to_button(schedule)
          %td= User.find(schedule.user_id).username
          %td= schedule.content.present? ? schedule.content : "特に無し"
          %td= "#{format_time(schedule.start_time)} ～ #{format_time(schedule.termination_time)}"

  %br

  %div{:id => "timeline-group", :style => "height: #{@schedules.length * 30 + 120}px;"}

- else
  %p 今日のスケジュールはありません。