%h2 ログイン
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email"
  .field
    = f.label :password
    %br/
    = f.password_field :password, autocomplete: "current-password"
  - if devise_mapping.rememberable?
    .field
      %label{:for => "user_remember_me"}
        = f.check_box :remember_me
        %span ユーザーを記憶する
  %br/
  .actions
    = f.submit "ログイン", class: "submit-btn"
  %br/

%h2 登録はこちら
= render "devise/shared/links"
