%ul#dropdown-schedule.dropdown-content
  -# turbolinksを使うとchartが前の画面のままになることがあるのでfalseにした
  %li
    = link_to 'あなた', root_path, data: {"turbolinks" => false}
  %li
    = link_to 'グループ', index_of_group_path, data: {"turbolinks" => false}

%ul#dropdown-user.dropdown-content
  %li
    = link_to 'ログアウト', destroy_user_session_path, method: :delete
  %li.divider
  %li
    = link_to 'プロフィール', edit_user_registration_path
  %li.divider
  %li
    = link_to '招待', new_user_invitation_path

%nav{class: header_color, :role => "navigation"}
  .nav-wrapper.container
    %a#logo-container.brand-logo{:href => "/"}= ApplicationHelper::APP_NAME
    - if user_signed_in?
      %ul.right.hide-on-med-and-down
        %li
          %a.dropdown-trigger{"data-target" => "dropdown-schedule", :href => "#!"}
            スケジュール
            %i.material-icons.right arrow_drop_down
        %li
          %a.dropdown-trigger{"data-target" => "dropdown-user", :href => "#!"}
            ユーザ管理
            %i.material-icons.right arrow_drop_down
      %ul#nav-mobile.sidenav
        %li
          = link_to 'あなたのスケジュール', root_path, data: {"turbolinks" => false}
        %li
          = link_to 'グループのスケジュール', index_of_group_path, data: {"turbolinks" => false}
        %li.divider
        %li
          = link_to 'ログアウト', destroy_user_session_path, method: :delete
        %li
          = link_to 'プロフィール', edit_user_registration_path, data: {"turbolinks" => false}
        %li
          = link_to '招待', new_user_invitation_path, data: {"turbolinks" => false}
      %a.sidenav-trigger{"data-target" => "nav-mobile", :href => "#"}
        %i.material-icons menu
