!!!
%html

  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1.0", :name => "viewport"}/

    %title= ApplicationHelper::APP_NAME
    = csrf_meta_tags
    = include_gon
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'

    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'https://www.gstatic.com/charts/loader.js'

    = javascript_pack_tag 'application'

  %body
    = render("layouts/header")
    .container
      = render("layouts/flash")
      = yield
      = debug(params) if Rails.env.development?
